{% extends 'base.html' %} {% block content %}
<div class="row">
<div class="col-lg-8 mx-auto container">
    <section id="hardware" class="text-center">
        <div class="container">
                    <h3 class="helpdesk">Hardware Replacement Requests</h3>
                    <p class="lead text-justify">You can easily monitor the progress of computer hardware replacement.
                    </p>
                    {% autoescape off %} {{fc}} {% endautoescape %}
        </div>
    </section>
</div>
<div class="col-lg-8 mx-auto container">
    <section id="Services" class="text-center">
        <div class="container">
                <div class="">
                    <h2 class="helpdesk">Service Requests</h2>
                    <p class="lead text-justify">You can easily monitor the progress of IT service in your company.
                    </p>
                    {{bc|safe}}
                </div>
        </div>
    </section>
</div>
</div>
{% endblock content %}
  




    