{% extends 'base.html' %} {% block title %} {% endblock title %} {% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="card border-success col-lg-8 mx-auto">
                <div id="title" class="card-header">
                    <h2 class="mb-5 text-center helpdesk">IT Ticketing Web Application</h2>
                </div>
                <div class="card-body text-danger">
                    Ticketing system supports and helps you to better manage your help desk processes from first contact to resolution. Help ticketing system includes everything you need for ticket management including:
                    <ul>
                        <li> Post a comment in "Request Services" </li>
                        <li> Post a comment in "Request Services" </li>
                        <li> post your issues </li>
                        <li> upvote so that it takes higher priority </li>
                        <li> Donate to support the team</li>
                    </ul>
                </div>
            </div>
            <div class="card text-center col-lg-8 mx-auto mt-5">
                <h5 class="helpdesk " id="title">Top 3 services requested <span class="badge badge-success">free</span></h5>
                <br>
                <table class="table">
                    <th>
                        <td><b>Bug title</b></td>
                        <td><b>Upvote Number</b></td>
                    </th>
                    {% for row in rows_services %} {% include 'helpdesk-inline.html' with blog=row truncate=True detail=False %} {% endfor %}
                </table>
            </div>
            <div class="card text-center col-lg-8 mx-auto mt-5">
                <h5 class="helpdesk" id="title">Top 3 hardware replacement requested <span class="badge badge-warning">Paid</span></h5>
                <br>
                <table class="table">
                    <th>
                        <td><b>Feature title</b></td>
                        <td><b>Upvote Number</b></td>
                        <td><b>Total $ paid</b></td>
                    </th>
                    {% for row in rows_hardware %} {% include 'helpdesk-inline.html' with blog=row truncate=True detail=False %} {% endfor %}
                </table>
                <br> The higher upvote number is the <span class="bg-warning">higher
              priority for implemeting new feature or fixing a bug. </span>
                <br>
                <br>
            </div>
        </div>
</section>
{% endblock content %}